@font-face {
    font-family:"Graublau Web";
    src:local("Graublau Web"),
    local("Graublau Web Regular"),
    local("GraublauWeb"),
    local("GraublauWeb-Regular"),
    url(../fonts/graublau-web.otf) format("opentype")
}

@font-face {
    font-family:"Graublau Web";
    font-weight:700;
    src:local("Graublau Web Bold"),
    local("GraublauWeb-Bold"),
    url(../fonts/graublau-web-bold.otf) format("opentype")
}

@font-face {
	font-family: "Gentium";
	src: local("Gentium Basic"),local("Gentium Basic Regular"),local("GentiumBasic"),local("GentiumBasic-Regular"),url(../fonts/gentium-basic.ttf) format("truetype");
	/*src: url(fonts/gentium-basic.eot);*/
}

@font-face {
	font-family: "Gentium";
	font-style: italic;
	src: local("Gentium Basic Italic"),local("GentiumBasic-Italic"),url(../fonts/gentium-basic-italic.ttf) format("truetype");
	/*src: url(fonts/gentium-basic-italic.eot);*/
}

@font-face {
	font-family: "Gentium";
	font-weight: 700;
	src: local("Gentium Basic Bold"),local("GentiumBasic-Bold"),url(../fonts/gentium-basic-bold.ttf) format("truetype");
	/*src: url(fonts/gentium-basic-bold.eot);*/
}

@font-face {
	font-family: "Gentium";
	font-style: italic;
	font-weight: 700;
	src: local("Gentium Basic Bold Italic"),local("GentiumBasic-BoldItalic"),url(../fonts/gentium-basic-bold-italic.ttf) format("truetype");
	/*src: url(fonts/gentium-basic-bold-italic.eot);*/
}

body {
    font: normal 18px/28px "Gentium Basic", Gentium, Palatino, Georgia, serif;
    font-family:     background:#fff;
    color:#333;
    padding:0;margin:0;
}
img {
    max-width:680px;
    margin:0 auto;
}

html>body {font-size:18px; line-height:28px;}

a {
    text-decoration:none;
    color:#2760BF; 
}

a:hover {
    text-decoration:underline;
    color:#00252e;
}

a  img { border: 0;}
a:visited {
}

h1, h2, h3, h4 {
    font-family:"Graublau Web", Ubuntu, Helvetica, Arial, sans-serif;
}

h1 {
    font-size:45px;
    line-height:50px;
}

h2 {
    font-size:32px;
    line-height:50px;
}

h3 {
    font-size:23px
    line-height:25px;
}

h4 {
    font-size:18px;
    line-height:25px;
}

h1 a, h2 a, h3 a, h4 a {
    color:#444;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    color:#4183c4;
    text-decoration:none;
}

pre, code {
    font-family: "Inconsolata", "Consolas", "Monaco", "Droid Sans Mono", "Bitstream Vera Mono", monospace;
    font-size:14px;
}

pre {
    padding:20px;
    line-height:0.7em;
    overflow:auto;
}

li, ol {
    line-height: 16px;
}


table
{
    font-family:"Graublau Web", Ubuntu, Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #fff;
    margin:10px auto;
	min-width: 380px;
	border-collapse: collapse;
	text-align: left;
    overflow:auto;
}
table th
{
	font-size: 16px;
	padding: 10px 8px;
	border-bottom: 2px solid #ccc;
}
table td
{
	border-bottom: 1px solid #ccc;
	padding: 6px 8px;
}
table tbody tr:hover 
{
    background:#eee;
}

blockquote {
	margin: 1em 2em;
	border-left: 2px solid #999;
    font-style:oblique;
	padding-left: 1em;
}
blockquote p:first-letter {
	float: left;
	margin: .2em .1em .1em 0;
    font-family:"Graublau Web", Ubuntu, Helvetica, Arial, sans-serif;
	font-size: 260%;
	font-weight: bold; 
}
blockquote p:first-line {
    font-weight:bold;
}


#page {
    width:712px;
    margin:0px auto !important;
    background:#fff;
}

#nav {
    margin:8px 0 0 0;
    text-align:center;
}

#nav a {
    margin: 0 auto;
    text-align:center;
}
#nav a img { width:32px; height:32px; }
#nav a:hover {}

#nav span .spacer { width: 32px;}


#header {
    text-align:center;
    font-family:"Graublau Web", Ubuntu, Helvetica, Arial, sans-serif;
    color:#444;
}

#header  a{
    color:##40a2ff;
}
#header  a:hover {
    text-decoration:none;
}

#sitename h1{
    margin:0px;
    padding:0;
    font-size: 32px;
}
#sitename h1 a{
    color:#ddd;
}

#content {
    font-family: "Gentium Basic", Gentium, Palatino, Georgia, serif;
    padding: 10px 20px;
}

#index {
    margin:20px 0;
}

#index .entry {
    margin-bottom:60px;
}

#index .entry h3 {
    margin:0;
    color:#555;
}

#index .entry h2 {
    border-bottom:1px solid #e1d1c1;
    margin:0;
    font-weight:bold;
}

#index .entry .summary {
}

#index .entry p {
}

#index .entry .published {
    font-family:"Graublau Web", Ubuntu, Helvetica, Arial, sans-serif;
    padding-right:23px;
    font-size:14px;
    float:left;
}

#index .entry .meta {
    clear:both;
    height:35px;
}

#index .entry .meta .link-url{
    font-style:italic;
    float:left;
}

#index .entry .meta .permalink{
    font-family:"Graublau Web", Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align:center;
    float:right;
}
#index .entry .meta .permalink a{
    text-decoration:none;
    display:block;
    margin:5px 10px;
    width:25px;
    border-radius:5px;
}

#index .entry .meta .permalink a:hover {
    background-color:#222;
    color:#fff;
}

.entry-full .meta .source,
#index .entry .meta .source{
}

.entry-full .tags,
#index .entry .tags{
    font-style:italic;
    float:right;
}

.entry-full h1 {
    text-align:center;
    margin-bottom:60px;
}

.entry-full .published {
    text-align:center;
    margin-bottom:-25px;
}

.tags {
    text-align:right;
    font-style:italic;
}

#footer {
    text-align:center;
    margin-top: 10px;
    font-size:13px;
    line-height: 20px;
    color:#444;
}

#comments {
    font-size:16px;
    font-style:italic;
    padding: 0px 20px;
    margin-top:30px;
}

h1.tag_name {
}

a.tag_feed_icon {
    margin-top:20px;
}


div.popup .content .image img {
    max-width:100%;
}

#about {
    display:none;
}

#about_me {
    font: normal 16px/22px "Gentium Basic", Gentium, Palatino, Georgia, serif;
    width:612px;
}
#about_me img.me {
    float:left;
    margin: 2px;
}
