<html>
<head>
  <meta name="google-site-verification" content="7kNes4_ZZZxK2SmNwu1AB1fFQtxf_ZyFxSJ_4su_LDU" />
  <title>{% block page_title %} Home {% endblock %} &raquo; mirnazim.org</title>
  <link rel="stylesheet" type="text/css" href="{{ media_url }}css/pygments_style.css" media="screen" /> 
  <link rel="stylesheet" type="text/css" href="{{ media_url }}css/site.css" media="screen" /> 
  {% block css %}{% endblock %}
  <link href="{% block head_feed_link %}/atom.xml{% endblock %}" type="application/atom+xml" rel="alternate" title="{% block head_feed_title %}mirnazim.org &raquo; Mir Nazim's Weblog{% endblock %}" /> 
<link rel="stylesheet" type="text/css" media="screen" href="http://www.devslide.com/public/labs/browser-detection/browser-detection.css" />
</head>
<body>
<div id="page" class="loading">
  <div id="header">
    {% block header %}
    {% endblock %}
  </div><!--/#header-->
  <div id="content">
    {% block content %}
    {% endblock %}
    <!--<div id="comments">-->
      <!--<p>I do not accept comments on this blog(moderating spam gives me severe heartburns); However, I  welcome your feedback at <a href="#">feedback(at)mirnazim(dot)org</a></p>-->
    <!--</div>-->
  </div><!--/#content-->
  <div id="footer">
    <p>&copy; Mir Nazim 2010. Some Rights Reserved</p>
  </div>
</div><!--/#page-->



<div id="nav">
  <div><img src="/media/img/mirnazim.face.png"></div>
  <a title="Home" href="/">home</a>
  <a title="About" class="about" href="/about/">about</a>
  <a title="Atom feeds{% block feed_link_title %}{% endblock %}" href="{% block feed_link %}/atom.xml{% endblock %}">atom</a>
  <!--<span class="spacer">&nbsp;</span>-->
  <a title="Twitter" href="http://twitter.com/mirnazim">twitter</a>
  <a title="LinkedIn" href="http://in.linkedin.com/in/mirnazim">linkedIn</a>
  <a title="Google+" href="http://gplus.to/mirnazim">google+</a>
  <a title="Github" href="http://github.com/mnazim">github</a>
  <a title="Flickr" href="http://www.flickr.com/photos/mirnazim/">flickr</a>
</div>
<span style="position:absolute;z-index:5555;top:25px;left:-5px; display: inline-block;"><a style="display: inline-block;" href="http://americancensorship.org"><img src="http://americancensorship.org/images/stop-censorship-small.png" style="vertical-align: bottom; border: 10px solid #000;  padding: 0 0px; background: #000;"></a></span>
<!-- Google Analytics--> 
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25128315-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End Google Analytics-->
<script type="text/javascript" src="{{ media_url }}js/googlefonts.js"></script>
</body>
</html>
